doctype
html
    head
        // = is space sensitive
        // comment should be on seperate lines in jade
        title= title
    body
        h1= title
        p This is an express app with jade view engine