################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/C#/Language Features/Command Line Arguments/CommandLineArguments/bin/Debug
/C#/Language Features/Command Line Arguments/CommandLineArguments/obj/Debug
