#chart {
width: 820px;
height: 600px;
background: #bbb;
margin: 1px auto;
position: relative;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
}

text {
	pointer-events: none;
}

.grandparent text { /* header text */
	font-weight: bold;
	font-size: medium;
	font-family: "Open Sans", Helvetica, Arial, sans-serif; 
}

rect.parent,
	.grandparent rect {
		stroke-width: 2px;
	}

.grandparent rect {
	fill: #fff;
}

.children rect.parent,
	.grandparent rect {
cursor: pointer;
	}

rect.parent {
	pointer-events: all; 
}

.children:hover rect.child,
	.grandparent:hover rect {
fill: #aaa;
	}

.textdiv { 
	font-size: 14px;
	padding: 5px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif; 
	text-align: center;
}

/*display:flex;justify-content:center;align-items:center*/