{{!-- The following component displays Ember's default welcome message. --}}
{{!--{{welcome-page}}--}}
{{!-- Feel free to remove this! --}}

<header>Wilderness Safety Quiz</header>
<br>
<main>
  {{outlet}}
</main>
<footer>&copy; Woodland Wanderer Whatchamacallits</footer>
