<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <a [routerLink]="['home']">
            <img class='navbar-brand' src="../assets/images/fire-64.png" alt="">
        </a>

        <ul class='nav navbar-nav'>
             <li><a [routerLink]="['dashboard']">Dashboard</a></li>
            <li><a [routerLink]="['admin']">Admin</a></li>
        </ul>ts

       <ul class="nav navbar-nav pull-right">
            <!--<img class='navbar-brand' src="../assets/images/info-64.png" alt="" (click)='showInfo()' />-->
        </ul>
    </div>
</nav>
