<h3>Add New Customer</h3>

<form ng-submit="addCustomer()">
	<div>
		Customer Name <input type="text" ng-model="newCustomer.name" placeholder="Enter customer name"> 
		Customer Company <input type="text" ng-model="newCustomer.company" placeholder="Enter customer company"> 
		<input type="submit" value="Add customer">
	</div>
</form>

</br>

<!-- <div>
	<h3>Customer List</h3>
		<div >
			<ol>
				<li ng-repeat="cust in customers | orderBy:'name'"> {{cust.name | uppercase}} - {{cust.company}}</li>
			</ol>
		</div>
</div>
 -->
<div>
	<a href="#/home">Back to home page</a> <br>
	<a href="#/list">View Customer List</a> <br>
</div>