<div>
	<h3>Add New Customer</h3>
		<div >
			 Customer Name <input type="text" ng-model="newCustomer.name" value="" placeholder="Enter customer name"> <br>
			 Customer Company <input type="text" ng-model="newCustomer.company" value="" placeholder="Enter customer company"> <br>
			 <input type="submit" ng-click="addCustomer()" value="Add customer">
		</div>
</div>

</br>

<div>
	<h3>Customer List</h3>
		<div >
			<ol>
				<li ng-repeat="cust in customers | orderBy:'name'"> {{cust.name | uppercase}} - {{cust.company}}</li>
			</ol>
		</div>
</div>

<div>
	<a href="#/home">Back to home page</a> <br>
	<a href="#/list">View Customer List</a> <br>
</div>