@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @(Environment.GetEnvironmentVariable("REGION_NAME") ?? "LOCAL")
    </div>
</body>
</html>
