<!-- App Info Dialog-->
<div id="aboutApp" class="modal">
    <div class="modal-dialog">
    <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true" (click)='hideInfo()'>&times;</button>
                <h4>About Event Tracker</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                   <div>
                       Some description goes here...               
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

