<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Form submission result</title>
    </head>
    <body>
        <h1>Form successfully submitted using JavaScript.</h1>
    </body>
</html>
