<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>Entered Information</h1> 
        
        <h3>First name</h3>
        @Request.Params["firstName"].ToString()       

        <h3>Fav colors</h3>
        @Request.Params["colors"].ToString()

    </body>
</html>
