<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Form Submit File Result</title>
</head>
<body>
    <h3>@Request.Files["imageFile"].FileName File submitted successfully.</h3>

   @* @{
        var filename = Request.Files["imageFile"].FileName;
        var extension = System.IO.Path.GetExtension(filename);
        var relativePath = string.Format("images/{0}{1}",filename,extension);
        var serverFilePath = Server.MapPath(relativePath);

        using (var filestream = File.OpenWrite(serverFilePath))
        {
            Request.Files["imageFile"].InputStream.CopyTo(filestream);
        }
    }*@

    <img> 

</body>
</html>
