<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Form submission result</title>
    </head>
    <body>
        @if (Request.Params.AllKeys.Contains("submitForm1"))
        { 
            <h1>Form 1 submission successful.</h1>
        }
        else
        { 
            <h1>Form 2 submission successful.</h1>
        }
            
    </body>
</html>
